---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={[
	"flex w-full max-w-[428px] min-h-[260px] p-[30px] flex-col justify-between gap-4 rounded-[20px]",
	"border-[3px] border-[#C5EBA7]",
	"bg-[linear-gradient(116deg,rgba(255,255,255,0.40)_2.89%,rgba(255,255,255,0.10)_69.08%)]",
	"backdrop-blur-[20px]",
	"hover:border-[#54CD4C]",
	"hover:shadow-[0_0_25px_rgba(84,205,76,0.6)]",
	"hover:scale-[1.02]",
	"transition-all mx-auto relative group overflow-hidden",
	className
]}>
	<slot />
</div>
