---
const { title, value } = Astro.props
---

<div class="bg-slate-800 p-5 rounded-xl border border-slate-700" id={Astro.props.id}>
  <h3 class="text-sm text-slate-400 mb-1">{title}</h3>
  <p class="text-3xl font-extrabold text-green-500">{value}</p>
</div>
