@import "tailwindcss";

@keyframes float-morph {
	0% {
		transform: translate(0, 0) rotate(0deg) scale(1);
		border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
	}
	33% {
		transform: translate(30px, -50px) rotate(10deg) scale(1.1);
		border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
	}
	66% {
		transform: translate(-20px, 20px) rotate(-5deg) scale(0.95);
		border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
	}
	100% {
		transform: translate(0, 0) rotate(0deg) scale(1);
		border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
	}
}